<div id= "{{page.header.sectionId}}" class="row_1 {{page.header.class}}">
    <section class="container">
        <h2>{{ page.header.title }}</h2>
        <article class="title2">{{ page.header.description }}</article>
        <section class="content">
        {{ content }}
      </section>
    </section>
</div>
