<div id= "{{page.header.sectionId}}" class="row_1 {{page.header.class}}">
    <section class="container">
      <section class="header">
        <h1>{{ page.header.title }}</h1>
        <article class="description">{{ page.header.description }}</article>
      </section>
        <section class="content">
        {{ content }}
        </section>
    </section>
</div>
