<div id= "{{page.header.sectionId}}" class="{{page.header.class}}">
    <section  class="container">
      <h1>{{ page.header.title }}</h1>
        <section  class="col-sm-4 col-xs-12 resume">
          <h2 class="title1">{{ page.header.title }}</h1>
          <figure class="fundator-img">{{ page.find('/images/about/').media[page.header.image].html('','','img-responsive img-circle') }}</figure>
          <article class="description">{{ page.header.description }}</article>
        <div class=".single-lightbox">
              <a class="thumbnail" href="{{page.find('/images/about/fundator/').media["bfw.jpg"].url}}" target="_blank">
              {{ page.find('/images/about/fundator/').media["bfw.jpg"]}}</a>
          </div>
        </section>
        <section  class="col-sm-8 col-xs-12 bio">
        <div id="timeline" class=" block-content t-block-teal l-block-spacing">
          <h2 class="title1">{{page.header.timeline}}</h2>
          <div class="timeline-list">
            <ul>
              {% for item in page.header.timelineItems %}
                <li>
                  <div class="content">
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    {% if item.gallery %}
                    <div class="timeline-gallery">
                      {% for img in item.gallery %}
                        <a class="thumbnail" href="{{page.find('/images/about/fundator/').media[img].url}}" target="_blank">{{ page.find('/images/about/fundator/').media[img] }}</a>
                    {% endfor %}
                    </div>
                    {% endif %}
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </section>
    </section>
</div>
