
{% set data = page.find('/groups/').header %}
<div class="row_2 {{page.header.class}}">
    <div class="container">
      <h1> {{ page.header.title}} </h1>
      <article class=description>
        <p>
        {{ data.description.resume }}</p>
        <a href="{{data.slug}}">details>>></a>

      </article>
        <div class="row home-group-list">
                <ul>
                  {% set groups = data.items %}
                    {% for group in groups %}
                        <li class="col-lg-4 col-md-4 col-sm-4 ">
                            <div class="group{{group.class}} pic">
                                  <figure>{{ page.find('/images/groups/').media[group.image] }}</figure>
                                  <span class="pic-caption bottom-to-top">
                                  <p class="pic-title">{{ group.title }}</p>
                                  <p class="description" >{{ group.description}}<p>
                                    <a href="{{data.slug}}#{{group.id}}">details>>></a>
                                  </span>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                {{ content }}

        </div>
    </div>
</div>
