<div class="{{ page.header.class }} row_1">
    <div class="container">
      <section>
        <h1>{{ page.header.title }}</h1>
          <p class="title2">{{ page.find('/about/_school/').header.description }}</p>
            {{ content }}
            <div class="buttons">
              {% for button in page.header.buttons %}
                  <a href="{{ button.url }}" class="{{ button.class }}">{{ button.text }}</a>
              {% endfor %}
            </div>
      </section>
  </div>
</div>
