<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 footercol">
              <h3>Contact</h3>
              <p>{{site.phone}}<p>
              <p>{{site.email}}<p>
              <p>{{site.address}}<p>
                <ul class="social_icons social-color clearfix">
                     {% for item  in site.social %}
                         <li><a href="{{ item.url }}" target="_blank">
                           <span class="icon fa-stack fa-2x">
                         <i class="fas fa-circle fa-stack-2x"></i>
                         <i class="{{item.icon}} fa-stack-1x fa-inverse"></i>
                       </span></a></li>
                     {% endfor %}
                </ul>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 footer-parners footercol">
              <ul class="parners">
                   {% for item  in site.parters %}
                     <li><a href="{{ item.url }}" target="_blank">
                       <i class="{{item.icon}}"></i></a></li>
                   {% endfor %}
              </ul>  </div>
            <div class="col-lg-4 col-md-4 col-sm-4 website footercol">
                <p> Developer: {{site.author.name}}</p>
                <p> Designer: Yosuan Verdecia</p>
                <p>site email: {{"admin@shangdewu.com"|safemail}}</p>
                <p class="footerpriv">ShangDeWu &copy; {{ "now" | date("Y") }}</p>
            </div>
        </div>
    </div>
</footer>
