<header id="header">
      <div class="container">
        <h1 class="navbar-brand navbar-brand_">
          <a href="{{ base_url_absolute }}">
            <img alt="Shang De Wu" src="{{ theme_url }}/img/logo_header.png">
          </a>
        </h1>
        <div class="social">
          <ul class="social_icons clearfix">
               {% for item  in site.social %}
                 <li><a href="{{ item.url }}" target="_blank"><i class="{{item.icon}}"></i></a></li>

               {% endfor %}
          </ul>
        </div>
        <div class="adress">
          {{ site.adress}}
        </div>
      </div>
      <div class="menuheader">
          <div class="container">
            <nav class="navbar navbar-default navbar-static-top tm_navbar" role="navigation">
                {% include 'partials/navigation.html.twig' %}
            </nav>
          </div>
      </div>
</header>
