{% extends 'partials/base.html.twig' %}
{% block content %}
{% set collection = page.collection() %}
{% set dateformat = admin.page.dateformat ?: config.system.pages.dateformat.short ?: "m.d.Y" %}
{% set image_url = page.header.header_image.url ? page.media[page.header.header_image].cache.url() : page.find('/classroom').media['default.jpg'].cache.url()%}
<div class="classroom blog container">
  <header>
    {% if page.find("/classroom").url != page.url %}
    <div class="banner">
      <a href="{{page.parent.url}}">
        <h1>{{page.parent.title|upper}}</h1>
      </a>
    </div>
    <img src="{{image_url}}" alt="{{page.title}}">
    <h1>{{(page.title|t)}}</h1>
  {% else %}
  <div class="banner">
    <h1>{{(page.title|upper)}}</h1>
  </div>
  <img src="{{image_url}}" alt="{{page.title}}">
  {% endif %}
</header>
<div class="row">
  <article >
    {{ page.content }}
  </article>
  <div class="post-list col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  
    {% for post in collection %}
    {% set post_image_url = post.header.header_image.url ? post.media.images[post.header.header_image].cache.url() : page.find('/classroom').media['default.jpg'].cache.url()  %}
    <div class="post-preview">
      <a href="{{ post.url }}">
        <div class="post-image">
          <img src="{{post_image_url}}">
        </div>
        <div class="post-content">
          <h2 class="post-title">{{ post.title }}</h2>
          {% if post.header.subheading %}
          <h3 class="post-subtitle">{{ post.header.subheading }}</h3>
          {% endif %}
        </div>
      </a>
      <p class="post-meta">{{ 'BLOG.POST_BY'|t }} {{ post.header.author }} {{ 'BLOG.POST_ON'|t }} {{ post.date|date(dateformat) }}</p>
    </div>
    <hr>
    {% endfor %}
  </div>
</div>
{% if config.plugins.pagination.enabled and collection.params.pagination %}
<div class="post-list-pagination row">
  {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
</div>
{% endif %}
</div>
{% endblock %}
