{# TODO
  -[] add share
  -[] hide post with access login
#}
{% extends 'partials/base.html.twig' %}
{% block content %}
{% set collection = page.collection() %}
{% set dateformat = admin.page.dateformat ?: config.system.pages.dateformat.short ?: "m.d.Y" %}
{% set image_url = page.media[page.header.header_image].url ? page.media[page.header.header_image].cache.url() : page.find('/classroom').media['default.jpg'].cache.url()%}
{% set style = 'style="background-image: url(\'' ~ image_url  ~ '\')"' %}
<div class="classroom blog ">
{% if page.find("/classroom").url != page.url %}
  <div class="breadcrumbs">
    {% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}
  </div>
  {% endif %}
  <header class="intro-header"{{ style }}>
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="post-heading">
                      <h1>{{ page.title|upper }}</h1>
                      {% if page.header.subheading %}
                      <h2 class="subheading">{{ page.header.subheading }}</h2>
                      {% endif %}
                      {% if page.header.autor %}
                      <span class="meta">{{ 'BLOG.POST_BY'|t }} {{ page.header.author }}
                        {% endif %}
                        {% if page.date %}{{ 'BLOG.POST_ON'|t }} {{ page.date|date(dateformat) }}</span>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
</header>
<div class="container">
  <article >
    {{ page.content }}
  </article>
  <div class="post-list ">
    {% for post in collection %}
    {% if Not (post.headers.access) %}
    {#
    TODONE load correct image and have a fallback IMG #}
    {% set post_image_url = post.media[post.header.header_image].url ? post.media[post.header.header_image].cache.url() : image_url  %}
  <div class="post-preview col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <a href="{{ post.url }}">
        <figure class="post-image">
          <img src="{{post_image_url}}">
          <figcaption class="post-content">
            <h2 class="post-title">{{ post.title }}</h2>
            {% if post.header.subheading %}
            <h3 class="post-subtitle">{{ post.header.subheading }}</h3>
            {% endif %}
          </figcaption>
        </figure>
        </a>
      <p class="post-meta">{{ 'BLOG.POST_BY'|t }} {{ post.header.author }} {{ 'BLOG.POST_ON'|t }} {{ post.date|date(dateformat) }}</p>
  </div>

  {% endif %}
  {% endfor %}
  </div>
  </div>
</div>
{% if config.plugins.pagination.enabled and collection.params.pagination %}
<div class="post-list-pagination row">
  {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
</div>
{% endif %}
</div>
{% endblock %}
