{% extends 'partials/base.html.twig' %}
{% block content %}
    <div id="content">
            <div class="container {{ page.class }}">
            <section class="header">
                 <h1>{{ page.title }}</h1>
                 <article>{{ page.find('/groups/').header.description }} </article>
             </section>
             <section class="groups-section">
               {% for group in page.header.items %}
                       <section id="{{group.id}}" class="group group{{group.class}}">
                         <h1> {{group.title}} </h1>
                         <figure>{{ page.media[group.image] }}</figure>
                         <article class="description">
                           {{group.description}}
                          </article>
                          <div class="program">
                            <ul>
                           {% for item in group.program %}
                              <li>{{ item }}</li>
                           {% endfor %}
                            </ul>
                          </div>
                          <div class="gallery">
                            <div class="slider">
                                <div class="camera_wrap">

                                    {% for item in page.find('/images/groups/gallery-'~group.id).media.images %}
                                        <div data-src="{{ item.url }}"></div>
                                    {% endfor %}
                                </div>
                            </div>
                          </div>
                       </section>
               {% endfor %}
             </section>
             <section class="schedule">

             </section>

     </div>
 </div>
{% endblock %}
