{% extends 'partials/base.html.twig' %}
{% block content %}
    <div id="content" class="{{ page.header.class }} group group-item ">
      <div class="container">
          <section >
            <header>
              <div class="banner">
                <a href="{{page.find("/groups").url}}">
                <h1>{{'GROUP.SUBHEADING'|t}}</h1>
                </a>
              </div>
              <h1>{{("GROUP.#{page.header.id}"|upper|t)}}</h1>
              <img src="{{page.media[page.header.header_image].url}}" alt="{{page.header.title}}">
            </header>
            {% if page.header.time %}
            <section class="schedule">
              <div class="banner">
                <h1>Расписание {{ "now" | date("Y") }}</h1> 
              </div>
              <ul>
                {% for key in range(1,6)|keys  %}
                {% if page.header.time[key + 1] %}
                  <li>
                    <div class="dayoftheweek"> {{"DAYS_OF_THE_WEEK.SHORT.#{key}"|t}}</div>
                    <div class="time">{{page.header.time[key + 1]}}</div>
                  </li>
                  {% endif %}             
                {% endfor %} 
              </ul>
            {% endif %}           
            </section>

            {#TODO 
              [] Add schedule and address
              []news section#}

           {{ page.content }}
            {% set program = [] %}
            {% for item in page.header.program %}
              {% set program = program | merge(taxonomy.findTaxonomy({'tag':[item,'program']})) %}
            {% endfor %}
           <h2>Программа курса </h2>
           {% include "partials/slide.html.twig" %}
       </section>
   </div>
 </div>

{% endblock %}
