{% extends 'partials/base.html.twig' %}
{% block content %}
    <div id="content" class="{{ page.header.class }}">
            <div class="container">
            <section class="header">
                 <h1>{{page.title}}</h1>
                 <article class="description">
                   {% for item,value in page.header.description %}
                   <article class="{{item}}">{{value}}</article>
                   {% endfor %}

               </article>
                 <article class="requirements">
                  <div class="row">
                    <div class="col-sm-4">
                     {{ shortcode.section.requirements}}
                   </div>
                   <div class="col-md-8 col-sm-12">
                     {{ shortcode.section.prices}}
                   </div>
                  </div>

                 </article>
             </section>
             <section class="groups-section">
               {% for group in page.header.items %}
                       <section id="{{group.id}}" class="group group{{group.class}}">
                         <h1> {{group.title}} </h1>
                         <figure>{{ page.media[group.image] }}</figure>
                         <article class="description">
                           {{group.description}}
                          </article>
                          <div class="program styled-list">
                            <h3>Программа</h3>
                            <div class="list-content">
                            <ul>
                           {% for item in group.program %}
                              <li>
                                 <div class="content">
                              {{ item }}</div>
                            </li>
                           {% endfor %}
                            </ul>
                          </div>
                          </div>
                          <div class="group-gallery slider-lightbox">
                            {% for img in page.find('/images/groups/gallery-'~group.id).media.images %}
                              <a class="thumbnail" href="{{img.url}}" target="_blank">{{ img}}</a>
                            {% endfor %}
                          </div>
                       </section>
               {% endfor %}
             </section>

     </div>
 </div>
{% endblock %}
