{% extends 'partials/base.html.twig' %}
{% block content %}
    <div id="content" class="{{ page.header.class }} ">
      <div class="container">
      <section class="row">
           {{ page.content }}
       </section>
       <section class="items">
         <h2>{{'GROUP.SLIDE_HEADING'|t}}</h2>
         {% set items = page.collection() %}
         <div class="group-slide">
           {% for item in items %}
            <div class="item {{item.header.class}} col-sm-12 col-md-4">
              <div class="content">
                <img src="{{item.media[item.header.header_image].url}}" alt="">
                <div class="title">
                  <a href="{{item.url}}"><h3>{{item.header.title}}</h3></a>
                </div>
                <a href="{{item.url}}" class="read-more">{{'BLOG.READ_MORE'|t}}</a>
                </div>
            </div>
           {% endfor %}
         </div>
       </section>
       <section name="extra">
         {{shortcode.section.extra}}
       </section>
   </div>
 </div>
{% endblock %}
