{% extends 'partials/base.html.twig' %}
{% set dateformat = admin.page.dateformat ?: config.system.pages.dateformat.short ?: "m.d.Y" %}
{% set post_image_url = page.header.header_image ? page.media.images[page.header.header_image].cache.url() : page.find('/blog').media['default.jpg'].cache.url()  %}
{% set style = 'style="background-image: url(\'' ~ post_image_url  ~ '\')"' %}
{#TODO meta data for social media#}
{% block metadata %}
{#set metadata = [{"property":"og:image",
                    "content": page.url(true) ~ "/" ~ page.header.header_image},
                    {"property":"og:type",
                     "content": "article"},
                    {"property":"og:url",
                      "content": page.url(true)}]
                #}
{% include 'partials/post-metadata.html.twig' %}
{% endblock %}
{% block content %}
{# TODO create gallery. slideshow#}
<div class="post">
  <header class="intro-header"{{ style }}>
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="post-heading">
                      <h1>{{ page.title }}</h1>
                      {% if page.header.subheading %}
                      <h2 class="subheading">{{ page.header.subheading }}</h2>
                      {% endif %}
                      <span class="meta">{{ 'BLOG.POST_BY'|t }} {{ page.header.author }} {{ 'BLOG.POST_ON'|t }} {{ page.date|date(dateformat) }}</span>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <article>
      <div class="container">
          <div class="row">
              <div class="post-body col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  {{ page.content }}
                  {% if config.plugins.jscomments.enabled %}
                      {{ jscomments() }}
                  {% endif %}
                  {# TODO share panel#}
                  {% include 'partials/share.html.twig'%}
              </div>
          </div>
      </div>
  </article>
</div>
{% endblock %}
