{#
TODO
  -[] add the ads
  -[x] load the correct img in  the header and the preview
  -[] add nav prev-next with tiles-images
  -[]style list
  -[] funcionality for video player
          - link to section of the video(JS youtuve API)
  -[] add user for edition of the post
  -[x] use css animation to stun the site
  -[] add Gallery
      + slides
#}
{% extends 'partials/base.html.twig' %}
{#TODOne meta data for social media#}
{% block metadata %}
{% include 'partials/post-metadata.html.twig' %}
{% endblock %}
{% block content %}
{% set dateformat = admin.page.dateformat ?: config.system.pages.dateformat.short ?: "m.d.Y" %}
{% set imgFallback = '' %}
{% for category in page.taxonomy.category %}
  {% if category =="classroom" or category =="lesson" %}
    {% set imgFallback = page.find('/classroom').media['default.jpg'].cache.url() %}
  {% endif %}
  {% if category =="post" or category =="blog" %}
    {% set imgFallback = page.find('/blog').media['default.jpg'].cache.url() %}
  {% endif %}
{% endfor %}
{% set post_image_url = page.media.images[page.header.header_image].url ? page.media.images[page.header.header_image].cache.url() : imgFallback %}
{% set style = 'style="background-image: url(\'' ~ post_image_url  ~ '\')"' %}
<div class="post {{page.header.body_classes}}">
{% if not page.header.breadcrumbs.disable %}
  <div class="breadcrumbs">
    {% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
    {% endif %}
  </div>
{% endif %}
  <header class="intro-header"{{ style }}>
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="post-heading">
                      <h1>{{ page.title }}</h1>
                      {% if page.header.subheading %}
                      <h2 class="subheading">{{ page.header.subheading }}</h2>
                      {% endif %}
                      {% if page.header.autor %}
                      <span class="meta">{{ 'BLOG.POST_BY'|t }} {{ page.header.author }}
                        {% endif %}
                        {% if page.date %}{{ 'BLOG.POST_ON'|t }} {{ page.date|date(dateformat) }}</span>
                      {% endif %}
                  </div>
              </div>
          </div>
      </div>
  </header>
  <article>
      <div class="container">
          <div class="row">
              <div class="post-body col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  {{ page.content }}
                </div>
                {% include 'partials/post-footer.html.twig' %}

                  {% if config.plugins.jscomments.enabled %}
                      {{ jscomments() }}
                  {% endif %}
                  {# TODONE share panel#}
                  {% include 'partials/share.html.twig'%}
              </div>
          </div>
      </div>
  </article>
</div>
{% endblock %}
