{% extends 'partials/base.html.twig' %}
{% block content %}
    <div id="content" class="{{ page.header.class }} summer summer-item style-green">
      <div class="container">
          <section >
            <header>
              <div class="banner">
                <h1>{{'SUMMER.HEADING'|t}}</h1>
                <p>{{'SUMMER.SUBHEADING'|t}}</p>
              </div>
              <h2>{{page.header.title}}</h1>
              <img src="{{page.media[page.header.header_image].url}}" alt="{{page.header.title}}">
            </header>
           {{ page.content }}
       </section>
   </div>
 </div>
{% endblock %}
